body {
    font-family: "Roboto", sans-serif;
    
    
  }
 header, main, footer {
    max-width: 640px;
    align-content: center;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: lightblue;
 } 
main {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
}  
section {
    padding: 1rem;
    background-color: white;
}
